* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:mediumpurple;
    background-color: rgb(21, 21, 21);

}

a {
    color:rgb(2, 174, 174);
    background-color: transparent;
}

a:hover {
    color:lightblue;
}

img {
    height: 500px;
    width: auto;
    margin-top: 10px;
    border: 5px solid rgb(232, 229, 229);
    box-shadow: 5px 5px 5px teal;
}

h1 {
    font-style: italic;
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

p, h1, .navRank {
    box-shadow: 5px 5px 5px teal;
    background-color: rgb(232, 229, 229);
    padding: 5px;
    margin: 30px;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}

ol {
    margin: auto;
    width: 50%;
}

ul {
    list-style: none;
}

.flexList {
    display: flex;
}

li {
    padding: 5px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: rgb(232, 229, 229);
    padding: 15px;
    border:10px solid teal;
}

button {
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(232, 229, 229);
    padding: 10px;
    box-shadow: 3px 3px 3px teal;
}

button:hover {
    color: teal;
}




